@import url(../fontawesome-free-5.0.8/fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.min.css);
* {
  padding: 0;
  margin: 0; }

.modal-footer > * {
  margin: 0; }

.modal-dialog .modal-content {
  text-align: center;
  border-radius: 0;
  border: 2px solid #657585;
  max-width: 400px;
  background-color: rgba(43, 64, 95, 0.5);
  height: 190px;
  padding: 10px; }
  .modal-dialog .modal-content .modal-header {
    border-bottom: none;
    padding: 0;
    justify-content: center; }
    .modal-dialog .modal-content .modal-header .modal-title {
      color: white;
      font-size: 16px;
      line-height: 16px; }
  .modal-dialog .modal-content .modal-body {
    padding: 0; }
    .modal-dialog .modal-content .modal-body .avatar {
      width: 90px;
      border-radius: 5px;
      margin-top: 13px; }
  .modal-dialog .modal-content .modal-footer {
    border-top: none;
    justify-content: space-between;
    padding: 0; }
    .modal-dialog .modal-content .modal-footer button {
      border: none;
      color: #022753;
      min-width: 180px;
      line-height: 25px;
      font-weight: 700;
      background: #80c0f4;
      background: -moz-linear-gradient(top, #80c0f4 0%, #80c0f4 48%, #4997fc 57%, #4997fc 71%, #4997fc 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, #80c0f4), color-stop(48%, #80c0f4), color-stop(57%, #4997fc), color-stop(71%, #4997fc), color-stop(100%, #4997fc));
      background: -webkit-linear-gradient(top, #80c0f4 0%, #80c0f4 48%, #4997fc 57%, #4997fc 71%, #4997fc 100%);
      background: -o-linear-gradient(top, #80c0f4 0%, #80c0f4 48%, #4997fc 57%, #4997fc 71%, #4997fc 100%);
      background: -ms-linear-gradient(top, #80c0f4 0%, #80c0f4 48%, #4997fc 57%, #4997fc 71%, #4997fc 100%);
      background: linear-gradient(to bottom, #80c0f4 0%, #80c0f4 48%, #4997fc 57%, #4997fc 71%, #4997fc 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80c0f4', endColorstr='#4997fc', GradientType=0); }
      .modal-dialog .modal-content .modal-footer button:active {
        color: #022753;
        border-color: #022753; }
      .modal-dialog .modal-content .modal-footer button:focus {
        box-shadow: none; }
    .modal-dialog .modal-content .modal-footer .btn-primary:before {
      content: "\f00c";
      display: inline-block;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      background-color: #4c8514;
      border-radius: 100%;
      height: 22px;
      width: 22px;
      font-size: 14px;
      margin-right: 5px;
      color: white; }
    .modal-dialog .modal-content .modal-footer .btn-primary:active {
      color: #022753;
      border-color: #022753; }

#Modal_2 .modal-dialog .modal-content .modal-header h5 {
  margin-top: 60px;
  margin-bottom: 50px; }
#Modal_2 .modal-dialog .modal-content .modal-footer {
  justify-content: center; }
  #Modal_2 .modal-dialog .modal-content .modal-footer button {
    text-transform: uppercase;
    color: black;
    background: #94c643;
    background: -moz-linear-gradient(top, #94c643 0%, #94c643 48%, #94c643 50%, #598f2f 58%, #598f2f 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #94c643), color-stop(48%, #94c643), color-stop(50%, #94c643), color-stop(58%, #598f2f), color-stop(100%, #598f2f));
    background: -webkit-linear-gradient(top, #94c643 0%, #94c643 48%, #94c643 50%, #598f2f 58%, #598f2f 100%);
    background: -o-linear-gradient(top, #94c643 0%, #94c643 48%, #94c643 50%, #598f2f 58%, #598f2f 100%);
    background: -ms-linear-gradient(top, #94c643 0%, #94c643 48%, #94c643 50%, #598f2f 58%, #598f2f 100%);
    background: linear-gradient(to bottom, #94c643 0%, #94c643 48%, #94c643 50%, #598f2f 58%, #598f2f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#94c643', endColorstr='#598f2f', GradientType=0); }

/*# sourceMappingURL=style.css.map */
